.add_to_list{
  position: fixed;
  display: flex;
  left: 3%;
  bottom: 3%;
}
.add_to_list button{
  cursor: pointer;
  background-color: rgba(253, 253, 253, 0.781);
  width: 55px;
  height: 40px;
  margin: 0 10px 0 0;
  margin-top: 10px;
  border: solid #242423 2px;
  border-radius: 25px;
  text-align: center;
  /* display: none; */
  /* z-index: -1; */
  transition: all 0.5s ease;
  /*To disable text selection on tap or double click*/
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.add_to_list button img{
  width: 30px;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 200;
}

p {
  font-size: 17px;
  line-height: 28px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.main-container .blog-item {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.main-container .blog-item .blog-item-image {
  height: 220px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid black;
  overflow: hidden;
}
.main-container .blog-item .blog-item-content {
  padding: 15px;
  text-align: center;
}
.main-container .blog-item .blog-item-content h1 {
  margin-left: -15px;
  margin-right: -15px;
  color: black;
}

.blog-item4 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.blog-item7 {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
}

.blog-item-image4 {
  height: 400px !important;
}

.blog-item-image7 {
  height: 500px !important;
}

.blog_post_image_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
.blog_post_image_grid img {
  padding: 5px;
  border: 1px solid #ddd;
}


@media screen and (max-width: 1245px) {
  .main-container {
    margin: 0 15px;
  }
}
@media screen and (max-width: 480px) {
  .main-container {
    margin: 0 15px;
    grid-template-columns: 1fr 1fr;
  }

  .blog-item6 {
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 650px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .blog-item {
    grid-column: auto;
  }
}
@media screen and (max-width: 768px) {
  .add_to_list{
    flex-direction: column;
    left: 3%;
    bottom: 70px;
  }
  
}
